.navbar-menu {
  &.is-active {
    .tabs.is-right ul {
      justify-content: flex-start;
      li {
        a {
          color: #02253b;
        }
      }
    }
  }
  .tabs {
    ul {
      li {
        :after {
          content: "";
          right: 0;
        }
        a {
          color: #FFF;
          opacity: .75;
          border: none;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 12px;
          &:hover {
            opacity: 1;
          }
          &.image-shadow {
            opacity: 1;
          }
        }
        &.has-dropdown {
          a {
            float: left;
          }
          .navbar-dropdown {
            a.navbar-item {
              float: left;
            }
          }
        }
      }
    }
  }
}

.navbar-burger.burger {
  span {
    color: white;
  }
}