// Icons
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

// Navbar
$navbar-item-color: #fff;
$navbar-item-hover-color: #fff;
$navbar-item-hover-background-color: rgba(255,255,255,.03);

@import '~bulma/bulma';

// Custom variables
$content-width: 800px;
$vertical-form-width: 100%;
$vertical-form-max-width: 520px;

@mixin centered() {
  margin: 0 auto;
  text-align: center;
}

#app {
  // background: linear-gradient(#ff957e, #FFF);
  background: #EFF3F4;
}

.content {
  background-color: transparent;
}

.main-content {
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.movie {
  float: left;
  max-width: 350px;
  border: 1px solid rgba(0,0,0,.5);
  .poster {
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }
}

section.search-field {
  @include tablet {
    max-width: $content-width;
  }

  @include centered;

  input.search-field-withResults {
    border-bottom-left-radius: 0;
  }

  .search-results__movieBox {
    width: calc(100% - 1px);
    padding: .75rem;
    border-radius: 0;
  }

  .search-results__movie:last-of-type {
    .search-results__movieBox {
      border-radius: 0 0 6px 6px;
    }
  }
}

.form-login {
  @include centered;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: $vertical-form-max-width;

  @include tablet-only {
    max-width: $vertical-form-max-width;
  }

  p.help {
    text-align: left;
  }
}

/* Bulma template */
html,body {
  background: #EFF3F4;
}
.hero-body .container {
  max-width: 700px;
}
.hero-body .title {
  color: hsl(192,17%,99%) !important;
}
.hero-body .subtitle {
  color: hsl(192,17%,99%) !important;
  padding-top: 2rem;
  line-height: 1.5;
}
.features {
  padding: 5rem 0;
}
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.intro {
  padding: 5rem 0;
  text-align: center;
}
.sandbox {
  padding: 5rem 0;
}
.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.is-shady {
  animation: flyintoright .4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all .2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

section.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  width: 100%;
  max-width: 100%;
  margin: auto;
}

footer.footer {
  padding: 1.5rem 1.5rem 1.5rem;
}

/* Bulma template end */
